.post {
  padding: 4px;
  background-color: #cccccc;
}

.comments {
}

.comment {
  padding: 4px;
  margin: 2px;
  border: 1px solid #005f5f;
}

.comment .name {
}

.comment .body {
}

.comment .email {
}
